[submodule "contracts-v0.2/lib/forge-std"]
	path = contracts-v0.2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts-v0.2/lib/openzeppelin-contracts"]
	path = contracts-v0.2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts-v0.2/lib/solidity-stringutils"]
	path = contracts-v0.2/lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils

[submodule "lib/forge-std"]
	path = contracts/v0.2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = contracts/v0.2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/solidity-stringutils"]
	path = contracts/v0.2/lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils
