{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint", "import"],
  "rules": {
    "no-throw-literal": "error",
    "prettier/prettier": ["error"],
    "@typescript-eslint/ban-ts-comment": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "always",
        "ts": "always"
      }
    ]
  },
  "overrides": [
    {
      "files": ["test/**"],
      "rules": {
        "import/extensions": "off"
      }
    }
  ],
  "ignorePatterns": ["src/cli/orakl-cli/dist/**"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022,
    "parser": "@typescript-eslint/parser"
  }
}
