{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "no-throw-literal": "error",
    "prettier/prettier": ["error"],
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022,
    "parser": "@typescript-eslint/parser"
  }
}
