name: 'update-image-tag'

on:
  workflow_call:
    inputs:
      network:
        required: true
        type: string
      build:
        default: true
        type: boolean
      project-name:
        required: true
        type: string
      version:
        required: false
        type: string
      image-tag:
        required: false
        type: string
      tag_date:
        required: false
        type: string
      tag_git_hash:
        required: false
        type: string
    secrets:
      GH_ORAKL_BOT_APP_ID:
        required: true
      GH_ORAKL_BOT_PRIVATE_KEY:
        required: true

jobs:
  update-image-tag:
    name: Push to Orakl Helm Charts
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Generate GitHub App Token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.GH_ORAKL_BOT_APP_ID }}
          private-key: ${{ secrets.GH_ORAKL_BOT_PRIVATE_KEY }}
          owner: bisonai
          repositories: orakl-helm-charts

      - name: Checkout gitops
        run: |
          echo Checking out ${GITHUB_SERVER_URL}/bisonai/orakl-helm-charts.git
          rm -rf ./gitops_tmp
          GH_URL=$(echo "$GITHUB_SERVER_URL" | sed 's,://,://x-access-token:'"${{ steps.generate-token.outputs.token }}"'@,g')
          git clone --depth 1 --no-single-branch ${GH_URL}/bisonai/orakl-helm-charts.git ./gitops_tmp
        shell: bash

      - name: Verify and Checkout Branch
        run: |
          cd ./gitops_tmp/
          git fetch origin idc-fly
          git checkout idc-fly
          git reset --hard origin/idc-fly

      - name: Update image tag in values.${{ inputs.network }}.yaml files
        run: |
          cd ./gitops_tmp/${{ inputs.project-name }}/
          echo "Updating image tag in values.${{ inputs.network }}.yaml files"

          if [[ "${{ inputs.network }}" == "cypress" && "${{ inputs.build }}" ]]; then

            baobab_tag=$(grep -oP 'tag: "\K[^"]+' values.baobab.yaml)
            sed -i "s/tag: \".*\"/tag: \"$baobab_tag\"/" values.${{ inputs.network }}.yaml

          else

            sed -i 's/tag: .*$/tag: "${{ inputs.image-tag }}"/g' values.${{ inputs.network }}.yaml
            sed -i 's/appVersion: .*$/appVersion: "${{ inputs.image-tag }}"/g' values.${{ inputs.network }}.yaml

            sed -i 's/^appVersion:.*$/appVersion: v'${{ inputs.version }}'.'${{ inputs.tag_date }}'.'${{ inputs.tag_git_hash }}'/' Chart.yaml

          fi
        shell: bash

      - name: Check for Changes
        id: check_changes
        run: |
          cd ./gitops_tmp/
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git add .
          if git diff-index --quiet HEAD --; then
            echo "changes_detected=false" >> $GITHUB_OUTPUT
          else
            echo "changes_detected=true" >> $GITHUB_OUTPUT
          fi

      - name: Commit and Push Changes
        if: steps.check_changes.outputs.changes_detected == 'true'
        run: |
          cd ./gitops_tmp/
          git commit -m 'v${{ inputs.version }}.${{ inputs.tag_date }}.${{ inputs.tag_git_hash }} is updated'
          git push origin idc-fly
        shell: bash
